@import "../variables";

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: 0.5em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  z-index: 1;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    margin-left: -50%;
    margin-right: 50%;
    position: relative;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
  }

  .#{$prefix}-seekbar-label-inner {
    > .#{$prefix}-container-wrapper {
      position: relative;

      .#{$prefix}-seekbar-thumbnail {
        width: 10em;
      }

      .#{$prefix}-seekbar-label-metadata {
        bottom: 0;
        box-sizing: border-box;
        display: block;
        padding: 0.6em;
        width: 100%;
        background-color: black;

        .#{$prefix}-seekbar-label-time {
          display: block;
          line-height: 0.8em;
          font-family: MuseoSans-500, sans-serif;
        }

        .#{$prefix}-seekbar-label-title {
          display: block;
          white-space: normal;
        }
      }
    }
  }
}
